<a class="bubble" href="{{ .ctx.Permalink }}">
{{ $emojiIcon := .ctx.Params.Page.iconEmoji | default "" }}
{{ if not (eq $emojiIcon "" )}}
    {{ $emojiIcon | safeHTML }}
{{ else }}
    <i class="fas fa-fw {{ or .ctx.Params.icon "fa-pencil-alt" }}"></i>
{{ end }}
</a>

{{ $noMetaShow := or (eq .ctx.Params.showDate true) (eq .ctx.Site.Params.showReadingTime true) (ne .ctx.Params.author nil) (ne .ctx.Params.categories nil)}}

<article class="default article">
    {{ partial "featured-image.html" .ctx }}
    {{ partial "default-content.html" (dict "ctx" .ctx "template_type" .template_type "noMetaShow" $noMetaShow)  }}
    {{ partial "plugin/share.html" .ctx }}
    {{ partial "article-footer.html" .ctx }}
</article>
