{{ define "main" }}
<div class="main container">

    {{ if ne .Params.Series nil }}
    {{ range $key, $taxonomy := .Site.Taxonomies.series }}
    {{ if in $.Params.Series $key }}
    {{ range $taxonomy.Pages }}
    {{ if eq .Title $.Title}}
    {{ partial "single.content.html" .}}
    {{ else }}
    {{ partial "article-series.html" . }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}

    {{ else }}

    {{ partial "single.content.html" .}}

    {{ end }}

    {{- with .Site.Params.Advertising.Google.Slot -}}
    <div class="article-wrapper article-position article-list">
        <a class="bubble" href="#">
            <i class="fas fa-fw fa-ad"></i>
        </a>
        <div class="container-box">
        </div>
    </div>
    {{- end -}}
    {{ if ( .Site.Params.Comment.enable | default false ) }}
    <div class="article-wrapper article-position article-list">
        <a class="bubble" href="#comments-container">
            <i class="fas fa-fw fa-comment"></i>
        </a>
        <div id="comments-container" class="container-box" style="width: 680px;">
            {{ template "_internal/disqus.html" . }}
            {{ partial "commento.html" . }}
            {{ partial "remark42.html" . }}
        </div>
    </div>
    {{ end }}


</div>
{{ end }}