{{ if not .Params.Page.hiddenFeatureImage }}
<div class="featured-image">
{{ if .Resources.GetMatch "featured-image" }}
{{ $imageOriginal := .Resources.GetMatch (printf "%s" ("featured-image" | safeURL)) }}
            {{ if and (.Site.Params.resizeImages | default true) (.Params.resizeImages | default true) }}
                <img data-feature-origin="{{ (.Resources.GetMatch "featured-image").RelPermalink }}" src="{{ ((.Resources.GetMatch "featured-image").Fill "700x350 q95").RelPermalink }}" alt="">
            {{ else }}
            {{ if lt 1600 $imageOriginal.Width }}
            {{ $imageOriginal = ($imageOriginal.Resize "1600x q100").Permalink }}
            {{ end }}
                <img data-feature-origin="{{ (.Resources.GetMatch "featured-image").RelPermalink }}" src="{{ $imageOriginal }}" alt="">
            {{ end }}

{{ else if and (isset .Params "featured-image") (ne .Params.featuredImage "") }}

            <img src="{{ .ctx.Params.featuredImage | relURL }}" alt="">

{{ end }}
</div>
{{ end }}
