{{ if not .Params.Page.hiddenFeatureImage }}
{{ if .Resources.GetMatch "featured-image" }}
    <div class="featured-image">
        <a href="{{ .Permalink }}">
            {{ if and (.Site.Params.resizeImages | default true) (.Params.resizeImages | default true) }}
                <img src="{{ ((.Resources.GetMatch "featured-image").Fill "700x350 q95").RelPermalink }}" alt="">
            {{ else }}
                <img src="{{ (.Resources.GetMatch "featured-image").RelPermalink }}" alt="">
            {{ end }}
        </a>
    </div>
{{ else if and (isset .Params "featured-image") (ne .Params.featuredImage "") }}
    <div class="featured-image">
        <a href="{{ .Permalink }}">
            <img src="{{ .Params.featuredImage | relURL }}" alt="">
        </a>
    </div>
{{ end }}
{{ end }}
